.primary-color{
    -fx-background-color: #0f0a05;

}

.secondary-color{
    -fx-background-color: #dca524;
}

.secondary-color-backR{
    -fx-background-color: #00002C;
       -fx-background-radius: 50;  /* Rounded corners */
        -fx-border-radius: 15;      /* Optional: for borders */
        -fx-padding: 10;
}

.button {
  -fx-background-color: #242551;
  -fx-background-radius: 30;
}

.text-input {
  -fx-background-color: rgba(8, 8, 8, 0.8);
  -fx-border-width: 0 0 1 0;
  -fx-border-color: #242551;
  -fx-text-inner-color: #fff;
}

.selected-border {
  -fx-border-color: #fff;
  -fx-border-width: 0 3 0 0;
}

.selected:hover {
  -fx-background-color: #3C3058;
}

.container-rounded {
 -fx-background-color: #211c19;
    -fx-background-radius: 15;  /* Rounded corners */
    -fx-border-radius: 15;      /* Optional: for borders */
    -fx-padding: 10;            /* Padding inside the button */
}
//=================================================================================
/* General Styles */
body {
    -fx-font-family: 'Arial';
}

/* Sidebar Styles */
.sidebar {
    -fx-background-color: #2b2b4b;
    -fx-padding: 20;
}

.ImageView {
    -fx-effect: drop shadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
    -fx-clip: circle(40px at 40px 40px);
}

.sidebar Label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.sidebar Button {
    -fx-background-color: #5050a1;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-padding: 10;
}

.menu-items {
    -fx-spacing: 10;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 20 0 0 0;
}

.menu-items Label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

/* Main Content Styles */
.main-content {
    -fx-background-color: #1a1a33;
    -fx-padding: 20;
}

.main-content Label {
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.section {
    -fx-background-color: #2e2e5e;
    -fx-padding: 20;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-spacing: 15;
}

.section Label {
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.grid-pane {
    -fx-hgap: 15;
    -fx-vgap: 15;
}

.grid-pane Label {
    -fx-text-fill: white;
}

.TextField {
    -fx-background-color: #0f0a05;
    -fx-padding: 5;
}

/* Save Button Styles */
.save-button {
    -fx-background-color: #211c19;
    -fx-text-fill: white;
    -fx-background-radius: 6px;
    -fx-padding: 10;
}

